@font-face {
  font-family: "Futura PT Demi";
  src: url("../fonts/FuturaPT-Demi.eot");
  src: url("../fonts/FuturaPT-Demi.woff") format("woff"),
    url("../fonts/FuturaPT-Demi.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT Light";
  src: url("../fonts/FuturaPT-Light.eot");
  src: url("../fonts/FuturaPT-Light.woff") format("woff"),
    url("../fonts/FuturaPT-Light.ttf") format("truetype");
}
